<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <title> GoTour - Área Cliente </title>
</head>

<body>

    <header>
        <nav class="navbar navbar-expand-lg mb-3 shadow">
            <div class="container-fluid">
                <i class="bi bi-globe-americas"></i>
                <ul class="nav nav-underline justify-content-center gap-5">
                    <li class="nav-item">
                      <a class="nav-link active fs-5" aria-current="page" th:href="#">Reserva</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link fs-5" th:href="@{/destino/areaDestino/}">Destino</a>
                    </li>
                    <li class="nav-item">
                      <a class=" nav-link fs-5" th:href="@{/cliente/areaCliente/}">Clientes</a>
                    </li>

                  </ul>
                  <div class="me-2">
                    <p class="fs-3"> Área Reserva</p>
                </div>
            </div>            
        </nav>
        
        <div id="ww_21f004ac004ac" v='1.3' loc='id'
            a='{"t":"ticker","lang":"pt","sl_lpl":1,"ids":[],"font":"Arial","sl_ics":"one_a","sl_sot":"celsius","cl_bkg":"image","cl_font":"#FFFFFF","cl_cloud":"#FFFFFF","cl_persp":"#81D4FA","cl_sun":"#FFC107","cl_moon":"#FFC107","cl_thund":"#FF5722"}'>
            Mais previsões: <a href="https://havadurumuuzun.com/istanbul_hava_durumu_15_gunluk/" id="ww_21f004ac004ac_u"
                target="_blank">Istanbul hava durumu 15 gunluk</a></div>
        <script async src="https://app2.weatherwidget.org/js/?id=ww_21f004ac004ac"></script>
    </header>

    <main class="container mt-5">

        <div class="text-center mt-5 d-flex justify-content-center gap-5 row">
        
        <a th:href="@{/usuario/vagas/{id}(id=${usuario.id})}" class="btn btn-primary col"><p class="fs-2 text-center"><i class="bi bi-card-list"></i> Listar Clientes</p></a>
        <a th:href="@{/usuario/vagas/{id}(id=${usuario.id})}" class="btn btn-primary col"><p class="fs-2"> <i class="bi bi-arrow-clockwise"></i> Atualizar Cliente </p></a>
        <a th:href="@{/usuario/vagas/{id}(id=${usuario.id})}" class="btn btn-danger col"><p class="fs-2"><i class="bi bi-trash"></i> Excluir Cliente </p></a>
    </div>

    </main>

    <footer class="row row-cols-1 row-cols-md-3 g-3 mt-5 container-fluid" id="rodape">
        <div class="col">
            <img id="logo" th:src="@{/img/logofooter.png}" /><span id="logotxt"> <b>G</b>o<b>T</b>our</span>
        </div>
        <div id="social" class="col">
            <img th:src="@{/img/instagram.png}">
            <img th:src="@{/img/facebook_174848.png}" >

        </div>

        <div id="local" class="col text-center">
            <i class="bi bi-geo-alt"></i>
            <p>Praça Roberto Gomes Pedrosa, s/n - Jardim Leonor - São Paulo - SP</p>
        </div>
    </footer>
</body>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
    integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa"
    crossorigin="anonymous"></script>
</body>

</html>