<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link th:href="@{/css/index.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
  <title>GoTour - Home </title>
</head>

<body>
    <header style="background-color: #223649; color: #ffffff;">
        <nav class="navbar navbar-expand-lg mb-3 shadow">
            <div class="container-fluid">
                <div>
                <img id="logo" th:src="@{/img/logo.png}" height="50px" width="50px" /><span class="fs-4"> <b>G</b>o<b>T</b>our - Área Staff</span>
                </div>
                 <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="nav nav-underline justify-content-center gap-5 me-3 text-center" >
                    <li class="nav-item">
                      <a class="nav-link text-white active fs-5" aria-current="page" href="#">Cliente</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white fs-5" th:href="@{/reserva}">Reserva</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link text-white fs-5" th:href="@{/destino}">Destino</a>
                      </li>
                  </ul>
            </div>
            </div>            
        </nav>        
    </header>
    
<main class="container">
<p class="fs-1 text-center mt-5 mb-3">Cadastro de Cliente </p>

<div class="row shadow p-5">

<form th:action="@{/cliente/cadastrar}" th:object="${cliente}" method="post">

<div class="mb-3 mt-3">
    <label for="nome" class="form-label fs-5"> Nome Completo</label>
    <input type="text" class="form-control" id="nomeCompleto" placeholder="Digite o nome completo" th:field="*{nomeCliente}">
  </div>
  <div class="mb-3">
    <label for="cpf" class="form-label fs-5">CPF</label>
    <input type="text" class="form-control" id="cpf" placeholder="Digite o cpf" th:field="*{cpf}" onkeypress="cpfMask()"  minlength="14" maxlength="14">
  </div>
  <div class="mb-3">
    <label for="email" class="form-label fs-5">E-mail</label>
    <input type="email" class="form-control" id="email" placeholder="Digite o e-mail" th:field="*{email}">
  </div>
  <div class="mb-3">
    <label for="endereco" class="form-label fs-5">Endereço (Rua, nº , bairro, cidade, UF)</label>
    <input type="text" class="form-control" id="endereco" placeholder="Digite o endereço completo" th:field="*{endereco}" >
  </div>
  <div class="mb-3">
    <label for="telefone" class="form-label fs-5">Telefone</label>
    <input type="text" class="form-control" id="telefone" placeholder="Digite o telefone" th:field="*{telefone}">
  </div>

  	<div class="d-flex justify-content-center mb-5 mt-5">
  <button class="btn btn-primary">Cadastrar</button>
	</div>
	
	   <div class="d-flex justify-content-center mt-5">    
    <a class="btn btn-primary"th:href="@{/cliente}"><i class="bi bi-arrow-left"></i> Voltar </a>
    </div>
	
</form>
</div>
</main>

	<footer class="site-footer text-center" style="background-color: #223649; color: #ffffff;">	
		<div class="inner first">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-lg-4 mt-4">
						<div class="widget">
							<img id="logo" th:src="@{/img/logo.png}" height="50px" width="50px"/><h3 class="heading">GoTour</h3>							
						</div>
						<div class="widget">
							<ul class="list-unstyled social">
								<li><a href="#"><span class="icon-twitter"></span></a></li>
								<li><a href="#"><span class="icon-instagram"></span></a></li>
								<li><a href="#"><span class="icon-facebook"></span></a></li>								
							</ul>
						</div>
					</div>
					<div class="col-md-6 col-lg-2 pl-lg-5 mt-4">
						<div class="widget">
							<h5 class="heading">Páginas</h5>
							<ul class="links list-unstyled">
								<li><a th:ref="@{/destinos}">Destinos</a></li>
								<li><a th:ref="@{/promocoes}">Promoções</a></li>
								<li><a th:ref="@{/contatos}">Contatos</a></li>							
							</ul>
						</div>
					</div>
					<div class="col-md-6 col-lg-2 mt-4">
						<div class="widget">
							<h5 class="heading">Principal</h5>
							<ul class="links list-unstyled">								
								<li><a th:ref="@{/home}">Home</a></li>
							</ul>
						</div>
					</div>
					<div class="col-md-6 col-lg-4 text-center mt-4">
						<div class="widget">
					      <i class="bi bi-geo-alt"></i>
					      <p>Praça Roberto Gomes Pedrosa, s/n - Jardim Leonor - São Paulo - SP</p>
						</div>
					</div>
				</div>
			</div>
		</footer>
  
<script type="text/javascript" th:src="@{/js/script.js}"></script>
</body>

</html>