<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Untree.co">
  <link rel="shortcut icon" href="favicon.png">

  <meta name="description" content="" />
  <meta name="keywords" content="bootstrap, bootstrap4" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Source+Serif+Pro:wght@400;700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/owl.theme.default.min.css">
  <link rel="stylesheet" href="css/jquery.fancybox.min.css">
  <link rel="stylesheet" href="fonts/icomoon/style.css">
  <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">
  <link rel="stylesheet" href="css/daterangepicker.css">
  <link rel="stylesheet" href="css/aos.css">
  <link rel="stylesheet" href="css/style.css">

  <title>Tour Free Bootstrap Template for Travel Agency by Untree.co</title>
</head>

<body>


	<header>
    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close">
          <span class="icofont-close js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
  
    <nav class="site-nav">
      <div class="container">
        <div class="site-navigation">
          <img id="logo" src="./img/logo.png" height="50px" width="50px"/><a href="index.html" class="logo m-0">GoTour <span class="text-primary">.</span></a>
  
          <ul class="js-clone-nav d-none d-lg-inline-block text-left site-menu float-right">
					<li><a th:href="@{/home}">Home</a></li>					
					<li><a th:href="@{/promocoes}">Promoções</a></li>
					<li><a th:href="@{/destinos}">Destinos</a></li>
					<li class="active"><a href="#">Contatos</a></li>
					<li><a class="btn btn-outline-white text-white btn-md font-weight-bold" th:href="@{/login}">Área Staff</a></li>
		  </ul>
  
          <a href="#" class="burger ml-auto float-right site-menu-toggle js-menu-toggle d-inline-block d-lg-none light" data-toggle="collapse" data-target="#main-navbar">
            <span></span>
          </a>
  
        </div>
      </div>
    </nav>
  </header>


  <div class="hero hero-inner">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 mx-auto text-center">
          <div class="intro-wrap">
            <h1 class="mb-0">Contato</h1>
            <p class="text-white">Entre em contato conosco.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  
  
  <div class="untree_co-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <form class="contact-form" data-aos="fade-up" data-aos-delay="200">
            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label class="text-black" for="fname">Nome</label>
                  <input type="text" class="form-control" id="fname">
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label class="text-black" for="lname">Sobrenome</label>
                  <input type="text" class="form-control" id="lname">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="text-black" for="email">E-mail</label>
              <input type="email" class="form-control" id="email">
            </div>

            <div class="form-group">
              <label class="text-black" for="message">Mensagem</label>
              <textarea name="" class="form-control" id="message" cols="30" rows="5"></textarea>
            </div>
	
			<div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
          </form>
        </div>
        <div class="col-lg-5 ml-auto">
          <div class="quick-contact-item d-flex align-items-center mb-4">
            <span class="flaticon-house"></span>
            <address class="text">
              Praça Roberto Gomes Pedrosa, s/n - Jardim Leonor - São Paulo - SP
            </address>
          </div>
          <div class="quick-contact-item d-flex align-items-center mb-4">
            <span class="flaticon-phone-call"></span>
            <address class="text">
              +55 (11) 3749-8202
            </address>
          </div>
          <div class="quick-contact-item d-flex align-items-center mb-4">
            <span class="flaticon-mail"></span>
            <address class="text">
              gtour@email.com.br
            </address>
          </div>
        </div>
      </div>
    </div>
  </div>

	<footer class="site-footer">
	
		<div class="inner first">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-lg-4">
						<div class="widget">
							<img id="logo" src="./img/logo.png" height="50px" width="50px"/><h3 class="heading">GoTour</h3>
							
						</div>
						<div class="widget">
							<ul class="list-unstyled social">
								<li><a href="#"><span class="icon-twitter"></span></a></li>
								<li><a href="#"><span class="icon-instagram"></span></a></li>
								<li><a href="#"><span class="icon-facebook"></span></a></li>								
							</ul>
						</div>
					</div>
					<div class="col-md-6 col-lg-2 pl-lg-5">
						<div class="widget">
							<h3 class="heading">Páginas</h3>
							<ul class="links list-unstyled">
								<li><a th:ref="@{/destinos}">Destinos</a></li>
								<li><a th:ref="@{/promocoes}">Promoções</a></li>
								<li><a th:ref="@{/contatos}">Contatos</a></li>								
							</ul>
						</div>
					</div>
					<div class="col-md-6 col-lg-2">
						<div class="widget">
							<h3 class="heading">Administrativo</h3>
							<ul class="links list-unstyled">								
								<li><a th:ref="@{/login}">Área Staff</a></li>
							</ul>
						</div>
					</div>
					<div class="col-md-6 col-lg-4">
						<div class="widget">
							<h3 class="heading">Contato</h3>
							<ul class="list-unstyled quick-info links">
								<li class="email"><a href="#">gtour@email.com.br</a></li>
								<li class="phone"><a href="#">+55 (11) 3749-8202</a></li>
								<li class="address"><a href="#">Praça Roberto Gomes Pedrosa, s/n - Jardim Leonor - São Paulo - SP</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</footer>

		<div class="inner dark">
			<div class="container">
				<div class="row text-center">
					<div class="col-md-8 mb-3 mb-md-0 mx-auto">
						<p>Desenvolvido por: Stéfany Marques <a href="mailto:stefany.marques06@gmail.com"><i class="bi bi-envelope-fill"></i> </a> 
						<a href="https://github.com/Stephmarquess"><i class="bi bi-github"></i></a>
						<p>Template por: <a href="https://untree.co" class="link-highlight">Untree.co</a> e <a href="https://themewagon.com" target="_blank" >ThemeWagon</a>
						</p>
					</div>
					
				</div>
			</div>
		</div>
	</div>


  <div id="overlayer"></div>
  <div class="loader">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <script src="js/jquery-3.4.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.animateNumber.min.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.fancybox.min.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/moment.min.js"></script>
  <script src="js/daterangepicker.js"></script>

  <script src="js/typed.js"></script>
  
  <script src="js/custom.js"></script>

</body>

</html>
