<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Untree.co">

  <meta name="description" content="" />
  <meta name="keywords" content="bootstrap, bootstrap4" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Source+Serif+Pro:wght@400;700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/owl.theme.default.min.css">
  <link rel="stylesheet" href="css/jquery.fancybox.min.css">
  <link rel="stylesheet" href="fonts/icomoon/style.css">
  <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">
  <link rel="stylesheet" href="css/daterangepicker.css">
  <link rel="stylesheet" href="css/aos.css">
  <link rel="stylesheet" href="css/style.css">

  <title>GoTour - Destinos </title>
</head>

<body>

	<header>
    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close">
          <span class="icofont-close js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
  
    <nav class="site-nav">
      <div class="container">
        <div class="site-navigation">
          <img id="logo" src="./img/logo.png" height="50px" width="50px"/><a href="index.html" class="logo m-0">GoTour <span class="text-primary">.</span></a>
  
          <ul class="js-clone-nav d-none d-lg-inline-block text-left site-menu float-right">
					<li><a th:href="@{/home}">Home</a></li>					
					<li><a th:href="@{/promocoes}">Promoções</a></li>
					<li class="active"><a href="#">Destinos</a></li>
					<li><a th:href="@{/contatos}">Contatos</a></li>
					<li><a class="btn btn-outline-white text-white btn-md font-weight-bold" th:href="@{/login}">Área Staff</a></li>
          </ul>
  
          <a href="#" class="burger ml-auto float-right site-menu-toggle js-menu-toggle d-inline-block d-lg-none light" data-toggle="collapse" data-target="#main-navbar">
            <span></span>
          </a>
  
        </div>
      </div>
    </nav>
  </header>

  <div class="hero hero-inner">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 mx-auto text-center">
          <div class="intro-wrap">
            <h1 class="mb-0">Destinos</h1>
          </div>
        </div>
      </div>
    </div>
  </div>

    
  <div class="untree_co-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="card-group">
            <div class="card">
              <img src="./img/jericoacoara.jpg" class="card-img-top"
                alt="imagem da praia de Jericoacoara">
              <div class="card-body">
                <h5 class="card-title">Jericoacoara</h5>
                <p class="card-text">Jericoacoara fica no município de Jijoca na costa oeste do Ceará a 300 km da capital
                  Fortaleza. Jericoacoara ou simplesmente "Jeri", é um dos destinos mais procurados. Por possuir proteção
                  ambiental, a mobilidade se dá apenas por areia. Possui diversas atividades turísticas como Kitesurf,
                  Windsurf, Wingfoil e com destaque para atrações noturnas como bares e restaurantes com música ao vivo,
                  além de apresentações de música eletrônica.</p>  
                <hr>
              </div>  
            </div>
          </div>
        </div>
  
        <div class="col-lg-4">
          <div class="card">
            <img src="./img/beachpark.jpg" class="card-img-top" alt="Imagem do Beach Park">
            <div class="card-body">
              <h5 class="card-title">Beach Park</h5>
              <p class="card-text">
                Beach Park fica no município de Aquiraz a 27 kilometros da capital Fortaleza. É um dos parques aquáticos
                mais conhecidos do Brasil. Possui cerca de 20 atrações que vão desde atividades radicais, moderadas e
                infantis.
              </p> 
            </div>  
          </div>
        </div>
  
        <div class="col-lg-4">
          <div class="card">
            <img src="./img/fernandodenoronha.jpg" class="card-img-top"
              alt="Imagem da ilha de Fernando de Noronha">
            <div class="card-body">
              <h5 class="card-title">Fernando de Noronha</h5>
              <p class="card-text">
                É um arquipélago localizado a 350km do litoral do Nordeste. Possui uma beleza natural exuberante, ideal
                para quem deseja inspiração, tranquilidade e contato com a natureza. Possui praias pouco urbanizadas,
                atividades de snorkeling e mergulho com a possibilidade de nadar pertinho dos tubarões e peixes de beleza
                única.
              </p>
            </div>
          </div>
  
        </div>
      </section>
    
</div>
</div>
</div>

<div class="untree_co-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="card-group">
          <div class="card">
            <img src="./img/arraialdocabo.png" class="card-img-top"
              alt="imagem da praia de Jericoacoara">
            <div class="card-body">
              <h5 class="card-title">Arraial do Cabo</h5>
              <p class="card-text">
                Localizado na Região dos Lagos do Rio de Janeiro, considerado um dos destinos mais espetaculares do país
                levando a fama de "Caribe Brasileiro". É conhecido por preços baixos, acesso fácil e ideal para quem
                curte bastante sol. Você pode curtir as Prainhas do Pontal do Atalaia, Praia do Farol e Praia do Forno.
                Possui atividades de snorkeling e mergulho.



            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <img src="./img/gramado.png" class="card-img-top" alt="Imagem do Beach Park">
          <div class="card-body">
            <h5 class="card-title">Gramado</h5>
            <p class="card-text">
            <p>
              Fica localizada ... no Rio Grande do Sul. Devido a sua colonização por alemães, sua arquitetura ainda
              preserva os costumos germânicos, dando um toque de Europa no Brasil. É um dos destinos mais procurados do
              país para curtir o clima de inverno. É também conhecido pela exibição das luzes de Natal e pelas
              hortências em flor no período da primavera. Possui parques, museus, restaurantes e atrações para todos os
              gostos.



          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <img src="./img/curitiba.png" class="card-img-top"
            alt="Imagem da ilha de Fernando de Noronha">
          <div class="card-body">
            <h5 class="card-title">Curitiba</h5>
            <p class="card-text">
              Curitiba é a capital do Estado do Paraná, no sul do Brasil. Tem como principal atração o Jardim Botânico,
              construído em 1991. Possui uma Linha de Turismo criada especialmente para os turistas da cidade (além de
              possui um ótimo transporte público), possui atrações como o Parque Barigui e o Parque Tanguá que possui um
              belíssimo pôr-do-sol.
            </p>

          </div>
        </div>
      </div>

    </div>
  </div>
  </div>

  <div class="untree_co-section">
    <div class="container">
      <div class="row">

        <div class="col-lg-4">
          <div class="card-group">
            <div class="card">
              <img src="./img/paris.jpg" class="card-img-top" alt="imagem da Torre Eiffel em Paris">
              <div class="card-body">
                <h5 class="card-title">Paris</h5>
                <p class="card-text">
                  A capital francesa é um dos destinos mais procurados por casais em lua de mel e também para aqueles que
                  apreciam a cultura. Conhecida como cidade vibrante, charmosa,, divertida e culturalmente rica. A
                  principal atração é a Torre Eiffel, seu principal cartão-postal. Possui atrações para os mais diversos
                  gostos e para todas as idades.
                  As atrações turísticas como Torre Eiffel, Museu do Louvre, Palácio de Versalhes, Catedral de Notre-Dame
                  e Jardim de Luxemburgo são apenas umas das atrações exuberantes que Paris possui.
                </p>
  
  
  
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card">
            <img src="./img/lisboa.jpg" class="card-img-top" alt="Imagem da cidade de Lisboa">
            <div class="card-body">
              <h5 class="card-title">Lisboa</h5>
              <p class="card-text">
                A capital Portuguesa tem sido, nos últimos anos, um dos principais destinos dos brasileiros na Europa pelo
                fato de também ter o o Português como língua nativa. Considerada como um ótimo destino para quem ama
                explorar culturas, devido á sua forte multiculturalidade e para passeios históricos, entretanto também é
                uma ótima opção para quem deseja diversão em atividades noturnas.
              </p>
  
  
  
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card">
            <img src="./img/madrid.jpg" class="card-img-top" alt="Imagem da ilha de Fernando de Noronha">
            <div class="card-body">
              <h5 class="card-title">Madrid</h5>
              <p class="card-text">
                A capital da Espanha é famosa pelos ricos acervos de arte europeia, sendo um roteiro ideal para quem gosta
                de explorar cultura. O Centro Histórico de Madrid, Palácio Real, Museu do Prado e atrações gastronômicas
                como o mercado gastronômico de San Miguel, são apenas das muitas atrações que Madrid possui. Sem contar no
                Tour Bernabéu, estádio do Real Madrid para os amantes de futebol.
              </p>  
            </div>
          </div>
        </div>
    </div>
  </div>
  </div>
  
	<div class="py-5 cta-section">
		<div class="container">
			<div class="row text-center">
				<div class="col-md-12">
					<h2 class="mb-2 text-white">Realize sua viagem dos sonhos. Contate-nos</h2>
					<div class="d-flex justify-content-center"> 
						<a th:href="@{/contatos}"><button class="btn btn-primary btn btn-outline-white text-white"> Contato </button></a>
					</div>
					
				</div>
			</div>
		</div>
	</div>

	<footer class="site-footer">
	
		<div class="inner first">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-lg-4">
						<div class="widget">
							<img id="logo" src="./img/logo.png" height="50px" width="50px"/><h3 class="heading">GoTour</h3>
							
						</div>
						<div class="widget">
							<ul class="list-unstyled social">
								<li><a href="#"><span class="icon-twitter"></span></a></li>
								<li><a href="#"><span class="icon-instagram"></span></a></li>
								<li><a href="#"><span class="icon-facebook"></span></a></li>								
							</ul>
						</div>
					</div>
					<div class="col-md-6 col-lg-2 pl-lg-5">
						<div class="widget">
							<h3 class="heading">Páginas</h3>
							<ul class="links list-unstyled">
								<li><a th:ref="@{/destinos}">Destinos</a></li>
								<li><a th:ref="@{/promocoes}">Promoções</a></li>
								<li><a th:ref="@{/contatos}">Contatos</a></li>								
							</ul>
						</div>
					</div>
					<div class="col-md-6 col-lg-2">
						<div class="widget">
							<h3 class="heading">Administrativo</h3>
							<ul class="links list-unstyled">								
								<li><a th:ref="@{/login}">Área Staff</a></li>
							</ul>
						</div>
					</div>
					<div class="col-md-6 col-lg-4">
						<div class="widget">
							<h3 class="heading">Contato</h3>
							<ul class="list-unstyled quick-info links">
								<li class="email"><a href="#">gtour@email.com.br</a></li>
								<li class="phone"><a href="#">+55 (11) 3749-8202</a></li>
								<li class="address"><a href="#">Praça Roberto Gomes Pedrosa, s/n - Jardim Leonor - São Paulo - SP</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</footer>

		<div class="inner dark">
			<div class="container">
				<div class="row text-center">
					<div class="col-md-8 mb-3 mb-md-0 mx-auto">
						<p>Desenvolvido por: Stéfany Marques <a href="mailto:stefany.marques06@gmail.com"><i class="bi bi-envelope-fill"></i> </a> 
						<a href="https://github.com/Stephmarquess"><i class="bi bi-github"></i></a>
						<p>Template por: <a href="https://untree.co" class="link-highlight">Untree.co</a> e <a href="https://themewagon.com" target="_blank" >ThemeWagon</a>
						</p>
					</div>
					
				</div>
			</div>
		</div>
	</div>

  <div id="overlayer"></div>
  <div class="loader">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <script src="js/jquery-3.4.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.animateNumber.min.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.fancybox.min.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/moment.min.js"></script>
  <script src="js/daterangepicker.js"></script>

  <script src="js/typed.js"></script>
  
  <script src="js/custom.js"></script>

</body>

</html>
