<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
<link th:href="@{/css/index.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
  <title>GoTour - Home </title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg mb-3 shadow">
            <div class="container-fluid">
                <div>
                <img id="logo" th:src="@{/img/logo.png}" /><span class="fs-4"> <b>G</b>o<b>T</b>our - Área Staff</span>
                </div>
                <ul class="nav nav-underline justify-content-center gap-5 me-3 text-center">
                    <li class="nav-item">
                      <a class="nav-link active fs-5" aria-current="page" href="#">Cliente</a>
                    </li>
                    <li class="nav-item">
                        <a class="text-dark nav-link fs-5" th:href="@{/reserva}">Reserva</a>
                      </li>
                      <li class="nav-item">
                        <a class="text-dark nav-link fs-5" th:href="@{/destino}">Destino</a>
                      </li>
                  </ul>

            </div>            
        </nav>        
    </header>
    
      <main class="container">
        <p class="fs-1 text-center mt-5"> Atualizar Cliente </p>
        <div class="d-flex mt-3 shadow p-3 flex-column p-5">  
            
        <form th:action="@{/cliente/editarCliente/{id}(id=${cliente.id})}" th:object="${cliente}" method="post">			

            <div>
                <label for="id" class="form-label fs-5"> ID </label>
                <input class="form-control mt-1" type="text" id="id" th:field="*{id}" th:readonly="readonly" disabled />
            </div>
            <div class=" mt-3">
                <label for="nome" class="form-label fs-5"> Nome Completo </label>
                <input class="form-control mt-1" type="text" id="nome" th:field="*{nomeCliente}" />
            </div>
            <div class=" mt-3">
                <label for="cpf" class="form-label fs-5"> CPF </label>
                <input class="form-control mt-1" type="text" id="cpf" th:field="*{cpf}" autocomplete="off" minlength="14" maxlength="14" onkeypress="cpfMask()">
            </div>
            <div class=" mt-3">
                <label for="email" class="form-label fs-5"> E-mail </label>
                <input class="form-control mt-1"  type="text" id="email" th:field="*{email}" />
            </div>
            <div class=" mt-3">
                <label for="endereco" class="form-label fs-5"> Endereço </label>
                <input class="form-control mt-1"  type="text" id="endereco" th:field="*{endereco}" />
            </div>
            <div class=" mt-3">
                <label for="telefone" class="form-label fs-5"> Telefone </label>
                <input class="form-control mt-1"  type="text" id="telefone" th:field="*{telefone}" />
            </div>

        
            <div class="d-flex justify-content-center mt-5">
                <button class="btn btn-primary" type="submit"> Salvar </button>
            </div>
        </form>
            <div class="d-flex justify-content-center mt-5">    
    <a class="btn btn-primary"th:href="@{/cliente/listarCliente}"><i class="bi bi-arrow-left"></i> Voltar </a>
    </div>
        </div>
        

        
        </main>
<footer class="row row-cols-1 row-cols-md-3 g-3" id="rodape">
    <div class="col">
      <img id="logo" th:src="@{/img/logo.png}" /><span id="logotxt"> <b>G</b>o<b>T</b>our</span>
    </div>
    <div id="social" class="col d-flex gap-5 justify-content-center">
      <p class="fs-2"><i class="bi bi-instagram"></i></p>
      <p class="fs-2"><i class="bi bi-facebook"></i></p>
    </div>

    <div id="local" class="col text-center">
      <i class="bi bi-geo-alt"></i>
      <p>Praça Roberto Gomes Pedrosa, s/n - Jardim Leonor - São Paulo - SP</p>
  </div>
  </footer>
</body>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa"
crossorigin="anonymous"></script>
</body>

</html>