<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
<link th:href="@{/css/index.css}" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
  <title>GoTour - Área Reserva </title>
</head>

<body>

  <header>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <img id="logo" th:src="@{/img/logo.png}" /> <span id="logotxt"> <b>G</b>o<b>T</b>our</span>                
            <div class="me-5">
                <p class="fs-3"> Área Staff </p>
            </div>
        </div>
    </nav>
</header>    
      <main class="container">
        <p class="fs-1 text-center mt-5"> Atualizar Reserva </p>
        <div class="d-flex mt-3 shadow p-3 flex-column p-5">  
            
        <form th:action="@{/reserva/editarReserva/{id}(id=${reserva.id})}" th:object="${reserva}" method="post">
            <div>
                <label for="id" class="form-label fs-5"> ID Reserva </label>
                <input class="form-control mt-1" type="text" id="id" th:field="*{id}" th:readonly="readonly" disabled />
            </div>
            <div class="mt-3">				
                <label class="form-label fs-5" th:object="${destino}" for="destino"> Destino</label> <a th:href="@{/destino/cadastro}" class="float-end"><i class="bi bi-person-plus"></i> Cadastrar Destino</a>
				 <select class="form-select" th:field="*{destino.id}" >            
		            <option value=""> </option>
		            <option selected th:each="destino : ${destino}"
		                        th:value="${destino.id}"
		                        th:text="${destino.nomeDestino}">
		            </option>
		        </select>
                
            </div>
             <div class="mt-3">
                <label class="form-label  fs-5" th:object="${destino}" for="destino"> Cliente </label> <a th:href="@{/cliente/cadastro}" class="float-end"><i class="bi bi-person-plus"></i> Cadastrar Cliente</a>
				 <select class="form-select" th:field="*{cliente.id}" >            
		            <option value=""> </option>
		            <option selected th:each="cliente : ${cliente}"
		                        th:value="${cliente.id}"
		                        th:text="${cliente.nomeCliente}">
		            </option>
		        </select>
                
            </div>
            <div class="mt-3">
                <label for="descricaoReserva" class="form-label fs-5"> Descrição da Reserva </label>
                <input class="form-control mt-1" type="text" id="descricaoReserva" th:field="*{descricaoReserva}">
            </div>
            <div class="mt-3">
                <label for="dataIda" class="form-label fs-5"> Data Ida </label>
                <input class="form-control mt-1" type="text" id="dataIda" th:field="*{dataIda}">
            </div>        
            <div class="mt-3">
                <label for="dataVolta" class="form-label fs-5"> Data Volta </label>
                <input class="form-control mt-1" type="text" id="dataVolta" th:field="*{dataVolta}" >
            </div>                
		     <div class="mt-3">
                <label for="valor" class="form-label fs-5"> Valor </label>
                <input class="form-control mt-1" type="number" id="valor" th:field="*{valor}">
            </div>                

            <div class="mt-3">
                <label for="pagamento" class="form-label fs-5"> Pagamento </label>
                <input class="form-control mt-1" type="text" id="tipoPagamento" th:field="*{tipoPagamento}">
            </div>                

            <div class="d-flex justify-content-center mt-5">
                <button class="btn btn-success" type="submit"> Salvar </button>
            </div>
        </form>
        </div>
        
        <div class="d-flex mt-5 justify-content-center">
        <a class="btn btn-success" th:href="@{/reserva/listarReserva}"><i class="bi bi-arrow-left"></i> Voltar </a>
        </div>
        
        </main>
        <footer class="row row-cols-1 row-cols-md-3 g-3 mt-5 container-fluid" id="rodape">
          <div class="col">
              <img id="logo" th:src="@{/img/logofooter.png}" /><span id="logotxt"> <b>G</b>o<b>T</b>our</span>
          </div>
          <div id="social" class="col">
              <img th:src="@{/img/instagram.png}">
              <img th:src="@{/img/facebook_174848.png}" >
      
          </div>
      
          <div id="local" class="col text-center">
            <i class="bi bi-geo-alt"></i>
            <p>Praça Roberto Gomes Pedrosa, s/n - Jardim Leonor - São Paulo - SP</p>
        </div>
      </footer>
</body>

</html>