<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
   <link href="./css/index.css" rel="stylesheet" />
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
  <title>GoTour - Área Staff </title>
</head>

<body>

  <header>
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <img id="logo" src="./img/logo.png"/> <span id="logotxt"> <b>G</b>o<b>T</b>our</span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
          aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
          
        </div>
      </div>
    </nav>
  </header>

  <main class="container">

    <section class="p-5 mt-5" id="inicio">
		
      <h2 class="text-center mt-5">Área Staff - Login</h2>
             
			<div class="passagem d-flex flex-column mt-3">
			<label class="form-label fs-5 fw-bolder">E-mail</labelclass="form-label">
			<input class="form-control mt-1" type="email">
			<label class="form-label mt-3">Senha</label>
			<input class="form-control mt-1" type="password">
			<div class="d-flex justify-content-center">
			<a th:href="@{/cliente}"><button class="btn btn-primary mt-5 mb-5">Entrar</button></a>
			</div>
			</div>
		
        
  

    </section>


    
  </main>

  <footer class="row row-cols-1 row-cols-md-3 g-3" id="rodape">
    <div class="col">
      <img id="logo" src="./img/logo.png" /><span id="logotxt"> <b>G</b>o<b>T</b>our</span>
    </div>
    <div id="social" class="col d-flex gap-5 justify-content-center">
      <p class="fs-2"><i class="bi bi-instagram"></i></p>
      <p class="fs-2"><i class="bi bi-facebook"></i></p>

    </div>

    <div id="local" class="col text-center">
      <i class="bi bi-geo-alt"></i>
      <p>Praça Roberto Gomes Pedrosa, s/n - Jardim Leonor - São Paulo - SP</p>
  </div>
  </footer>



  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
    integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa"
    crossorigin="anonymous"></script>
</body>

</html>